@import '~accoutrement-reset/sass/reset';
@import 'bourbon/bourbon';
@import 'neat/neat';

$controls-height: 64px;

html, body {
    font-size: 16px;
    line-height: 16px;
    * {
        font-family: 'Roboto', sans-serif !important;
    }
}

.container {
    @include grid-container;
}

/**
    #EVENT-DETAILS
*/

.event-details {       
    color: #434343;
    height: $controls-height;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}


.event-details__paper-wrapper {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.event-details__wrapper {
    @include grid-column(12);
    /*
        use padding to prevent the column from collapsing
        when there's still no event selected.
    */
    padding: 1px;

}
.event-details__controls {
    @include grid-column(12);
}

.mapContainer {
    width: 100%;
    height: 100vh;
}

/**
    #HEADER
*/

.header {
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
}

.header__date-card {
    margin: 8px auto 0 auto;
    width: 200px;
    text-align: center;
    padding: 0px 4px;
}

.header .menu-icon {
    float: left;
    cursor: pointer;
}

#headerDatePicker {
    text-align: center;
}

@media only screen and (min-width: 680px) {

    .event-details__wrapper {
        @include grid-column(4);
    }

    .event-details__controls {
        @include grid-column(8);
    }
    .event-details__paper-wrapper {
        max-width: 600px;
    }
}