@import '~accoutrement-reset/sass/reset';
@import 'bourbon/bourbon';
@import 'neat/neat';

.container {
    @include grid-container;
}

.event-details {
    padding: 8px;
}

.event-details__wrapper {
    @include grid-column(4);
    /*
        use padding to prevent the column from collapsing
        when there's still no event selected.
    */
    padding: 1px;
}

.event-details__controls {
    @include grid-column(8);
}

.mapContainer {
    width: 100%;
    height: calc(100vh - 64px);    
}