$header-z-index: 10;

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: block;
  min-height: 100vh;
  position: relative;
}

.bottom-controls {
  $peek-height: 32px;

  background-color: #FFF;
  bottom: 0;
  height: 500px;
  left: 0;
  position: absolute;
  transform: translateY(calc(100% - #{$peek-height}));
  width: 100vw;
  z-index: $header-z-index;
  
  &.-expanded {
    transform: translateY(0%);
  }

  > .-date-display {
    height: $peek-height;
    padding: 8px;
    text-align: center;
  }

  > .expand-trigger {
    position: absolute;    
    top: -8px;
    width: 100%;
    z-index: 20;

    .-button {
      margin: 0 auto;
    }
  }
}

.expand-trigger {
  .-button {
    background-color: #FFF;
    border: 0px transparent;
    border-radius: 100%;
    box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.2);    
    display: block;
    height: 18px;
    padding: 0;
    text-align: center;
    width: 18px;
  }
}

.header {
  background-color: #FFF;
  height: 32px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $header-z-index;
}

.map {
  height: 100vh;
  position: relative;
}