html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }
  q:before, q:after,
  blockquote:before,
  blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  font-size: 16px;
  line-height: 16px; }
  html *, body * {
    font-family: 'Roboto', sans-serif !important; }

.container::after {
  clear: both;
  content: "";
  display: block; }

.event-details {
  color: #434343;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100; }

.event-details__paper-wrapper {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

.event-details__wrapper {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  /*
        use padding to prevent the column from collapsing
        when there's still no event selected.
    */
  padding: 1px; }

.event-details__controls {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }

.mapContainer {
  width: 100%;
  height: 100vh; }

.header {
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%; }

.header__date-card {
  margin: 8px auto 0 auto;
  width: 200px;
  text-align: center;
  padding: 8px; }

.header .menu-icon {
  float: left; }

@media only screen and (min-width: 680px) {
  .event-details__wrapper {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px; }
  .event-details__controls {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px; }
  .event-details__paper-wrapper {
    max-width: 600px; } }
